@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 40 16% 96%;
    --foreground: 32 48% 6%;
    --card: 40 16% 96%;
    --card-foreground: 32 48% 6%;
    --popover: 40 16% 96%;
    --popover-foreground: 32 48% 6%;
    --primary: 176 96% 37%;
    --primary-foreground: 32 48% 6%;
    --secondary: 33 43% 75%;
    --secondary-foreground: 32 48% 6%;
    --muted: 41 16% 20%;
    --muted-foreground: 32 48% 70%;
    --accent: 32 55% 61%;
    --accent-foreground: 32 48% 6%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 32 48% 6%;
    --border: 41 16% 20%;
    --input: 41 16% 20%;
    --ring: 32 55% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 40 14% 4%;
    --foreground: 32 48% 94%;
    --card: 40 14% 4%;
    --card-foreground: 32 48% 94%;
    --popover: 40 14% 4%;
    --popover-foreground: 32 48% 94%;
    --primary: 176 96% 63%;
    --primary-foreground: 40 14% 4%;
    --secondary: 33 43% 25%;
    --secondary-foreground: 32 48% 94%;
    --muted: 39 14% 80%;
    --muted-foreground: 32 48% 94%;
    --accent: 32 55% 39%;
    --accent-foreground: 40 14% 4%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 31 49% 10%;
    --border: 41 14% 60%;
    --input: 39 14% 80%;
    --ring: 32 55% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}