@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 180 10% 92%;
    --foreground: 180 10% 6%;
    --card: 180 10% 92%;
    --card-foreground: 180 10% 6%;
    --popover: 180 10% 92%;
    --popover-foreground: 180 10% 6%;
    --primary: 176 96% 37%;
    --primary-foreground: 180 10% 6%;
    --secondary: 33 43% 75%;
    --secondary-foreground: 180 10% 6%;
    --muted: 180 10% 20%;
    --muted-foreground: 180 10% 70%;
    --accent: 32 55% 61%;
    --accent-foreground: 180 10% 6%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 180 10% 6%;
    --border: 180 10% 20%;
    --input: 180 10% 20%;
    --ring: 32 55% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 180 10% 8%;
    --foreground: 180 10% 94%;
    --card: 180 10% 8%;
    --card-foreground: 180 10% 94%;
    --popover: 180 10% 8%;
    --popover-foreground: 180 10% 94%;
    --primary: 176 96% 63%;
    --primary-foreground: 180 10% 8%;
    --secondary: 33 43% 25%;
    --secondary-foreground: 180 10% 94%;
    --muted: 180 10% 80%;
    --muted-foreground: 180 10% 94%;
    --accent: 32 55% 39%;
    --accent-foreground: 180 10% 8%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 180 10% 10%;
    --border: 180 10% 60%;
    --input: 180 10% 80%;
    --ring: 32 55% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}